.container
   h1 Xml Generator
   p Get your rules written for you
   form
      h3 Rule Info
      div(class="Rule")
         div.input
            span.label RuleName
            input(type="text", name="ruleName")
         div.input
            span.label RuleID
            input(type="text", name="ruleID")