.navbar-inverse {
  background-color: #4d4fd6;
}
body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.form,
.label {
  color: #000;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}
footer p {
  border-top: 1px solid #4d4fd6;
}
